<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户资料编辑</title>
</head>
<body>
用户名： {{ request.session.user_name }}
{% if message %}
    {% if message == "更新密码成功，5秒后自动登出，请重新登录" %}
        {{ message }}
        <script>

            function sleep(time) {
                return new Promise((resolve) => setTimeout(resolve, time));
            }

            sleep(5000).then(() => {
                window.location.href = "/logout"
            })


        </script>
    {% else %}
        {{ message }}
    {% endif %}
{% endif %}
<form action="/edit/" method="post">
    {% csrf_token %}
    <input type="password" class="password" placeholder="在此重设密码" name="password1">
    <input type="password" class="password" placeholder="再输一遍" name="password2">
    <input type="submit" value="提交">
</form>
</body>
</html>