{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>登录</title>#}
{#</head>#}
{#<body>#}
{#<div style="margin: 15% 40%">#}
{#    <h1>登录页面</h1>#}
{#    <form action="/login/" method="post">#}
{#        {% csrf_token %}#}
{#        <p>#}
{#                {% if message %}#}
{#                    <div >{{ message }}</div>#}
{#                {% endif %}#}
{#             <label for="id_username">用户名：</label>#}
{#            <input type="text" id="id_username" name="username" placeholder="用户名" autofocus required>#}
{#        </p>#}
{#        <p>#}
{#             <label for="id_password">密码：</label>#}
{#            <input type="password" id="id_password" name="password" placeholder="密码"  required>#}
{#        </p>#}
{#        <input type="submit" value="确定">#}
{#    </form>#}
{#    <form action="/login/" method="post">#}
{#        {% if message %}#}
{#        {{ message }}#}
{#        {% endif %}#}
{#        {% csrf_token %}#}
{#        {{ login_form }}#}
{#        <input type="reset" value="重置">#}
{#        <input type="submit" value="提交">#}
{#    </form>#}
{#</div>#}
{##}
{#</body>#}
{#</html>#}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>登录</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>

    <link href="{% static '/css/style.css' %}" rel='stylesheet' type='text/css'/>

    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
<script>$(document).ready(function (c) {
    $('.close').on('click', function (c) {
        $('.login-form').fadeOut('slow', function (c) {
            $('.login-form').remove();
        });
    });
});
</script>
<!--SIGN UP-->
<h1>登录页面</h1>
<div class="login-form">
    <div class="close"></div>
    <div class="head-info">
        <label class="lbl-1"> </label>
        <label class="lbl-2"> </label>
        <label class="lbl-3"> </label>
    </div>
    <div class="clear"></div>
    <div class="avtar">
        <img src="{% static '/images/avtar.png' %}"/>
    </div><br />
    {% if request.session.message %}
    <div style="color: white" >
        {{ request.session.message }}
    </div>
    {% endif %}
    {% if message %}
        <div style="color: white" >
        {{ message }}
        <div>
    {% endif %}
    <form method="post" action="/login/">
        {% csrf_token %}
        <input type="text" class="text" placeholder="用户名" name="username" autofocus required>
        <div class="key">
            <input type="password" placeholder="密码" name="password" required>
        </div>
           <div class="signin">
        <input type="submit" value="Login">
    </div>
    </form>

</div>
<div class="copy-rights">
    <p>Powered by Django</a>
    </p>
</div>

</body>
</html>